.shop__item
	display: flex
	background-color: #fff
	.shop__text
		display: flex
		flex-direction: column
		justify-content: space-between
		flex: 1 1 50%
		padding: 5px
	.shop__img
		width: 100%
		flex: 1 1 50%
		>img
			max-width: 100%
	h3.shop__head
		margin: 0
		font-weight: 700
		font-size: 20px