.content
	display: flex
	height: calc(100vh - 80px)
	min-height: 300px
	padding: 0 10px 10px 10px
	.content__map
		flex: 1 1 70%
		.content__map-img
			>img
				max-width: 100%
		.content__map-head
			font-size: 20px
			margin: 5px 0
		.content__map-address
			margin: 5px 0
	.content__list
		flex: 1 1 30%
		min-width: 450px
		max-height: 100%
		overflow-x: hidden
		.list-item__img
			position: relative
			>img
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
				max-width: 50px
				z-index: 2
			// &::before
			// 	content: ""
			// 	position: absolute
			// 	width: 70px
			// 	height: 70px
			// 	top: 50%
			// 	left: 50%
			// 	transform: translate(-50%, -50%)
			// 	background-color: #1976d2
			// 	border-radius: 50%


agm-map
	height: 100%
